body {
    font: 16px Helvetica;
}

.nav {
    padding: 20px;
    background-color: lightgrey;
}

.friends {
    display: flex;
    flex-wrap: wrap;
}

.friend {
    float: left;
    margin: 15px;
}

.friend img {
    border-radius: 50%;
}

